<div class="container elementos">
  <a [routerLink]="['/clientes']" routerLinkActive="router-link-active">
    <article class="mw5  bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <img
          src="http://tachyons.io/img/avatar_1.jpg"
          class="br-100 h4 w4 dib ba b--black-05 pa2"
          title="Photo of a kitty staring at you"
        />
        <h1 class="f3 mb2">Clientes</h1>
      </div>
    </article>
  </a>
  <a [routerLink]="['/usuarios/6']" routerLinkActive="router-link-active">
    <article class="mw7  bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_hxmql9inUctPFkUjXAQ8NlvUf3mgP9Oto3Pt3umXttPjBZ-s"
          class="br-100 h4 w4 dib ba b--black-05 pa2"
          title="Photo of a kitty staring at you"
        />
        <h1 class="f3 mb2">Usuarios/equipo_id</h1>
      </div>
    </article>
  </a>
  <a [routerLink]="['/clientes/1/5']" routerLinkActive="router-link-active">
    <article class="mw7  bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJbsBSPWYZK6exsVL86MJuEIOxkWAdAYdxiOCjBCDXq3u2f9RkAw"
          class="br-100 h4 w4 dib ba b--black-05 pa2"
          title="Photo of a kitty staring at you"
        />
        <h1 class="f3 mb2">Clientes/equipo_id/usuario_id</h1>
      </div>
    </article>
  </a>
  <!-- 	- /getClientes/{equipo_id}/{usuario_id}
    - Que regrese el listado de clientes qu -->
</div>
